<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raceday Ready</title>

    <meta name="description" content="Your essential trackside companion. Manage vehicles, create checklists, and log lap times to ensure you're always Raceday Ready!">
    <meta property="og:title" content="Raceday Ready">
    <meta property="og:description" content="Your essential trackside companion. Manage vehicles, create checklists, and log lap times to ensure you're always Raceday Ready!">
    <meta property="og:image" content="https://storage.googleapis.com/raceday-ready-assets/social-card-image.png">
    <meta property="og:url" content="https://www.racedayreadyapp.com/">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Raceday Ready">
    <meta name="twitter:description" content="Your essential trackside companion. Manage vehicles, create checklists, and log lap times to ensure you're always Raceday Ready!">
    <meta name="twitter:image" content="https://storage.googleapis.com/raceday-ready-assets/social-card-image.png">

    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2050%2050'%3E%3Cpath%20fill='white'%20d='M25,5%20C10,5%205,20%205,30%20C5,45%2015,45%2025,45%20C35,45%2045,45%2045,30%20C45,20%2040,5%2025,5%20Z'%3E%3C/path%3E%3Cpath%20fill='black'%20d='M5%2023%20H45%20V30%20H5%20Z'%3E%3C/path%3E%3C/svg%3E">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-body text-text-primary transition-colors duration-300">

    <div id="app-container" class="h-screen flex flex-col font-sans">
        {% if maintenance_mode_on %}
        <main class="flex-grow w-full p-4 overflow-y-auto">
            <div class="w-full max-w-6xl mx-auto text-center py-16">
                <h1 class="text-4xl md:text-5xl font-bold mb-4">Down for Maintenance</h1>
                <p class="text-xl md:text-2xl mb-8">We'll be back shortly. Thanks for your patience!</p>
            </div>
        </main>
        {% else %}

        {% include 'partials/header.html' %}

        <main class="flex-grow w-full p-4 overflow-y-auto">
            <div class="w-full max-w-6xl mx-auto">
                {% include 'views/main_view.html' %}
                {% include 'views/features_view.html' %}
                {% include 'views/race_day_prep_view.html' %}
                {% include 'views/race_schedule_view.html' %}
                {% include 'views/track_management_view.html' %}
                {% include 'views/lap_time_view.html' %}
                {% include 'views/checklist_management_view.html' %}
                {% include 'views/vehicle_management_view.html' %}
                {% include 'views/garage_management_view.html' %}
                {% include 'views/upcoming_features_view.html' %}
                {% include 'views/developer_view.html' %}
            </div>
        </main>

        {% include 'partials/footer.html' %}

        {% endif %}
    </div>

    {% include 'partials/modals.html' %}

    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
